* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e1012;
    color: #fafffd;
    display: grid;
    place-items: center;
}

output {
    inline-size: 2280px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 80px;
    justify-content: flex-start;
    align-items: center;
}

img:not(.pokemon) {
    margin-inline-end: auto;
    padding: 30px;
}

.pokemon {
    inline-size: 120px;
    position: relative;
    display: inline-block;
}

div {
    position: relative;
    display: inline-block;
}

.wild::after {
    content: url(./img/Wild.png);
}

.event::after {
    content: url(./img/Event.png);
}

:is(.wild, .event)::after {
    position: absolute;
    scale: 0.3;
    transform-origin: 0;
    inset-block-end: -30px;
    inset-inline-start: 105px;
}