* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e1012;
    color: #fafffd;
    display: grid;
    place-items: center;
}

output {
    inline-size: 1380px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.pokemon {
    inline-size: 160px;
    position: relative;
    display: inline-block;
}

div {
    position: relative;
    display: inline-block;
}

.wild::after {
    content: url(./img/Wild.png);
}

.event::after {
    content: url(./img/Event.png);
}

:is(.wild, .event)::after {
    position: absolute;
    scale: 0.4;
    transform-origin: 0;
    inset-block-end: -30px;
    inset-inline-start: 125px;
}