* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e1012;
    color: #fafffd;
    display: grid;
    place-items: center;
}

output {
    inline-size: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.pokemon {
    inline-size: 40px;
    position: relative;
    display: inline-block;
}

div {
    position: relative;
    display: inline-block;
}

.wild::after {
    content: url(./img/Wild.png);
    position: absolute;
    scale: 0.1;
    transform-origin: 0;
    inset-block-end: -48px;
    inset-inline-start: 35px;
}

.event::after {
    content: url(./img/Event.png);
    position: absolute;
    scale: 0.1;
    transform-origin: 0;
    inset-block-end: -48px;
    inset-inline-start: 35px;
}